<!-- 非空断言运算符 ！

在ts中，开启--strictNullChecks后，将一个可能是undefined或nul的变量赋给一个有确切类型的变量时，会报错

但在特定情况下，我们很确定那个变量一定不是undefined或null，这个时候就可以用非空断言操作符用了这个操作符的变量，可以理解为叫ts不要去操心了，我这个变量一定是有值的

非空断言生效的前提是开启--strictNullChecks

使用非空断言的两个步骤：
tsconfig.json中添加字段"strictNullChecks"：true，默认false
tslint.json中修改字段"no-non-null-assertion"：false，默认为true

一般来说，编写库文件才会手动打开，正常代码不需要 -->



<!-- 属性型指令
属性型指令用于改变一个DOM元素的外观或行为。 -->

<!-- 在Angular中有三种类型的指令：
1.组件-拥有模板的指令
2.结构型指令-通过添加和移除DOM元素改变DOM布局的指令
3.属性型指令-改变元素、组件或其它指令的外观和行为的指令。 -->

<!-- 尝试把ts的selector修改为属性选择器
// tslint:disable-next-line:component-selector
selector: '[app-inline]',
这样就可以通过属性选择器访问，实测报错 -->
<!-- <div [app-inline]></div> -->

<!-- angular默认的是标签选择器，匹配对应的标签 -->
<!-- <app-inline></app-inline> -->